body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    width: 30%;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.container:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    color: #2c3e50;
    font-size: 2em;
    margin-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-size: 16px;
    margin-bottom: 5px;
    display: block;
    color: #2c3e50;
}

input[type="number"] {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    transition: border-color 0.3s;
}

input[type="number"]:focus {
    border-color: #2c3e50;
    outline: none;
}

button, input[type="submit"] {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px; /* Tetapkan margin-top sesuai kebutuhan */
    font-size: 14px;
    color: #fff;
    background-color: #2c3e50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover, input[type="submit"]:hover {
    background-color: #1a242f;
    transform: translateY(-2px);
    margin-top: 10px; 
}

.result-card {
    margin-top: 20px;
    padding: 15px;
    background-color: #eef1f5;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.result-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.result-card h2 {
    margin-top: 0;
    color: #2c3e50;
    font-size: 1.5em;
}

.result p {
    font-size: 14px;
    color: #495057;
}

.result a {
    display: inline-block;
    margin-top: 10px;
    color: #2c3e50;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #2c3e50;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.result a:hover {
    background-color: #2c3e50;
    color: #fff;
    transform: translateY(-2px);
}